@charset "UTF-8";
@font-face {
  font-family: "Noto";
  src: local("Noto Sans"), local("NotoSans"), url("https://www.iana.org/_img/2022/fonts/NotoSans-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Noto";
  src: local("Noto Sans"), local("NotoSans"), url("https://www.iana.org/_img/2022/fonts/NotoSans-Italic.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Noto";
  font-weight: 600;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("https://www.iana.org/_img/2022/fonts/NotoSans-Bold.woff");
}
html {
    min-height: 100%;
}
header {
    width: 100%;
    background: #ebeeef;
    border-bottom: 1px solid #f0f0f0;
}
header div {
    padding: 2em;
}
body {
    font-family: "Noto", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10pt;
    min-height: 100%;
    margin: 0;
}
article {
    padding: 2em;
}
footer {
    width: 100%;
    background: #ebeeef;
}
footer div {
    padding: 2em;
}
p {
    margin: 0;
}

pre {
    margin: 0;
    font-size: 90%;
}

p + p, p + pre, pre + p, pre + pre {
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    border: 0;
    margin: 1em 0;
}

table.fn {
    border-collapse: separate;
    border-spacing: 0em 1em;
}

.fn {
    border: none;
}

thead, tfoot {
    background-color: #e2e2e2;
}

th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: top;
}
tr {
        border-top: 1px #eceff8 solid;
}
tr:last-child {
        border-bottom: 1px #919699 solid;
}

td.date {
    white-space: nowrap;
}

dt {
    font-weight: bold;
}

h1 {

    font-weight: normal;
    font-size: 28px;
}

h1.people {
    border-top: 3px gray double;
    padding-top: 1em;
}

h2 {
    font-weight: normal;
    border-top: 1px gray solid;
    padding-top: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

h3, h4, h5, h6 {
    font-weight: normal;
    padding-top: 1em;
}

h4 {
    font-size: 110%;
}

tr.unallocated {
    color: #808080;
}

input {
    vertical-align: middle;
}

label {
    font-weight: bold;
    vertical-align: middle;
}

tr.hidden {
    visibility: hidden;
}

div.registry {
    padding-left: 2em;
}

div.level2, div.level3, div.level4, div.level5, div.level6 {
    border-left: 1px dotted gray;
}

div.pagination {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
}

a.altformat:link, a.altformat:visited {
    color: blue;
    display: inline-block;
    font-size: 70%;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

img {
    border-style: none;
}

td.registryempty {
    vertical-align: middle;
    font-style: italic;
    text-align: center;
    height: 4em;
}
