(registered 2021-04-20, last updated 2021-04-20)

Name: Takatomo Wakibayashi

Email: takatomo.wakibayashi.jt&fujifilm.com

Media type name: application

Media subtype name: vnd.fujifilm.fb.docuworks.container

Required parameters: None

Optional parameters: None

Encoding considerations: binary

Security considerations: File is intended to be processed by 
   DocuWorks.

   It may contain arbitrary files which could be extracted and 
   executed on the receivers system and could compromise the security
   of the machine. Also, it may contain Object Linking and Embedding 
   (OLE) objects. 

   Files of this type should be considered insecure.

   This media type does not provide either privacy or integrity 
   protection. If such protections are desired, they must be supplied 
   externally, e.g., through the use of SSL/TLS.

Interoperability considerations: This media type will be used by 
   DocuWorks.

Published specification: None

Applications which use this media:

   Following applications of FUJIFILM Business Innovation Corp.:

   - DocuWorks Desk
   - DocuWorks Viewer
   - DocuWorks Viewer Light
   - DocuWorks Viewer Light for Web

Fragment identifier considerations: None

Restrictions on usage: None

Additional information:

   1. Deprecated alias names for this type: None
   2. Magic number(s): None
   3. File extension(s): xct
   4. Macintosh file type code: None
   5. Object Identifiers: None

General Comments: None

Person to contact for further information:

   1. Name: Kazuya Iimura
   2. Email: kazuya.iimura.pa&fujifilm.com

Intended usage: Common

   This media type will be using HTTP.

Author/Change controller: 
   Name: Kazuya Iimura
   E-mail Address: kazuya.iimura.pa&fujifilm.com
