(last updated 2008-08-06)

Name : William Zou

Email : bill.zou&dts.com

MIME media type name : Audio

MIME subtype name : Vendor Tree - vnd.dts

Required parameters : None

Optional parameters :
One of the following parameters is optional:
Profile:
-- DTS
-- DTSES
-- DTS96
-
-Profile = DTS:
-This profile is limited to a maximum of 5.1 channels and 48 kHz
sampling rate.
-
Profile = DTSES:
-This profile decodes to a maximum of 6.1 channels and has a maximum
sampling frequency of 48 kHz. If DTS-ES is presented to a DTS (non-ES)
decoder, the decoder will present a down-mixed 5.1 presentation to be
output.
-
Profile=DTS96:
-This profile is limited to a maximum of 5.1 channels and may be decoded
at either 88.2 or 96 kHz. If DTS
96/24 is presented to a DTS (non-96/24) decoder, the decoder will
present up to 5.1 channels at up to 48 kHz sampling frequency.

The default is to let the receiving device auto-detect the format, if it
supports more than the basic DTS profile. All DTS receivers can decode
the DTS profile. If a receiver only supports the DTS profile, then all
profiles are decoded as "DTS" by default, since the DTSES and DTS96
profiles are supersets of DTS.

A subset of existing decoders can detect and decode the DTSES format,
and/or the DTS96 format. By using the optional Profile parameter, the
transmitter is explicitly notifying the receiver which form is being
sent so it can bypass the auto-detection process. For some receivers
this will result in a shorter time to begin decoding audio.


Encoding considerations : binary
This media type may require encoding on transports not capable of handling binary.

Security considerations :
This media type consists of audio samples; it does not contain any commands,
control sequences, executable content nor any other material the misuse of which
could result in a security vulnerability. No security risks are introduced by
this media type aside for those associated with any media format (for example,
transmission of a frame larger than the receiver can handle). This media type
does not specify any privacy or additional integrity services; thus, such
methods should be implemented in the upper protocol levels. Other security
considerations, if any, have not been assessed.

Interoperability considerations :
None

Published specification :
ETSI TS 102114: DTS Coherent Acoustics; Core and Extensions (2006)

Applications which use this media :
Applications for encoding and decoding digital audio in packaged media, digital
broadcast and content distribution.

Additional information :

1. Magic number(s) : None
2. File extension(s) : .wav, .cpt, .dts
3. Macintosh file type code : None
4. Object Identifiers: None



Person to contact for further information :

1. Name : William Zou
2. Email : bill.zou&dts.com

Intended usage : Common
High quality audio compression

Author/Change controller :

(file created 2008-08-06)